<form>
    <section class="form-block">
        <label>Create New Order</label>
<hr>
<div class="form-group row">
  <div class="column">
    <div><label for="gForm_1">Customer Name</label></div>
    <div><input type="text" id="formFields_1" placeholder="Customer Name" size="45" disabled></div>
  </div>
  <div class="column">
        <div><label for="gForm_1">Original Shipper</label></div>
        <div><input type="text" id="formFields_1" placeholder="Original Shipper" size="45"></div>
    </div>
    <div class="column">
            <div><label for="gForm_1">Original Address</label></div>
            <div><input type="text" id="formFields_1" placeholder="Original Address" size="45"></div>
        </div>
</div>

    </section>

    <section class="form-block">
            
    <div class="row">
      <div class="column">
        <div><label for="gForm_1"><u>Pickup Details</u></label></div>
        <div><label for="gForm_1">Pickup Name</label></div>
        <div><input type="text" id="formFields_1" placeholder="" size="45"></div>
        <div><label for="gForm_1">Pickup Address</label></div>
        <div><input type="text" id="formFields_1" placeholder="" size="45"></div>
        <div><label for="gForm_1">Requested Date Of Pickup</label></div>
        <div><input type="date" clrDate id="formFields_1" placeholder="" size="45"></div>
      </div>
      <div class="column">
        <div><label for="gForm_1"><u>Delivery Details</u></label></div>
        <div><label for="gForm_1">Delivery name</label></div>
        <div><input type="text" id="formFields_1" placeholder="" size="45"></div>
        <div><label for="gForm_1">Delivery Address</label></div>
        <div><input type="text" id="formFields_1" placeholder="" size="45"></div>
        <div><label for="gForm_1">Requested Date Of Delivery</label></div>
        <div><input type="date" clrDate id="formFields_1" placeholder="" size="45"></div>
        <div><label for="gForm_1">Delivery Point</label></div>
        <div><input type="text" id="formFields_1" placeholder="" size="45"></div>
      </div>
      <div class="column">
        <div><label for="gForm_1"><u>Billing Details</u></label></div>
        <div><label for="gForm_1">Reciever Name</label></div>
        <div><input type="text" id="formFields_1" placeholder="" size="45"></div>
        <div><label for="gForm_1">Reciever Address</label></div>
        <div><input type="text" id="formFields_1" placeholder="" size="45"></div>
        <div><label for="gForm_1">Terms Of Payement</label></div>
        <div><input type="text" id="formFields_1" placeholder="" size="45"></div>
      </div>
    </div>
        </section>

        <section class="form-block">
            
                <div class="row">
                  <div class="column">
                    <div><label for="gForm_1"><u>Additional Services</u></label></div>
                    <div><label for="gForm_1">Terms of pickup</label></div>
                    <div class="select">
                            <select id="SelectService">
                                <option></option>
                                <option>Blah</option>
                                <option>Blah</option>
                            </select>
                        </div>
                    <div><label for="gForm_1">Terms Of Delivery</label></div>
                    <div class="select">
                            <select id="SelectTerms">
                                <option></option>
                                <option>Vs.</option>
                                <option>Medicine</option>
                            </select>
                        </div>
                  </div>
                  <div class="column">
                    <div><label for="gForm_1"></label></div>
                    <div><label for="gForm_1">Terms of Transport</label></div>
                    <div class="select">
                            <select id="SelectShh">
                                <option></option>
                                <option>Bwack</option>
                                <option>gulp</option>
                            </select>
                        </div>
                    <div><label for="gForm_1">Addon Services</label></div>
                    <div class="select">
                            <select id="SelectPill">
                                <option>    </option>
                                <option>booh</option>
                                <option>Hee</option>
                            </select>
                        </div>
                  </div>
                  <div class="column">
                    <div><label for="gForm_1"></label></div>
                    <div><label for="gForm_1">Comment</label></div>
                    <div><textarea id="commentField" rows="4"></textarea></div>
                  </div>
                </div>
                    </section>
            <div><p align="right">
            <button class="btn btn-primary">SUBMIT</button>
            <button class="btn btn-link">CLEAR</button>
            </p></div>

</form>